<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="yandex-verification" content="9f81b3491bc231fc" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Сервисы, Платоникса">
        <meta name="author" content="TEYHD">
        <meta name="description" content="Здесь вы найдете удобную коллекцию ссылок на все необходимые ресурсы, помогающие в вашей работе. ">
        <script
        src="jquery.js"
        integrity="sha256-2RT7lXr+XgEbKBMEzcwALfoNzs2Rs74Hr1p/38Fr1FA="
        crossorigin="anonymous"></script>
        
        <script src="/materialize.js"></script>
        <link rel="stylesheet" href="/css/materialize.css"> 
        <link href="/stylesheet.css" rel="stylesheet">
      

                <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();
           for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
           k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        
           ym(99316009, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true,
                ecommerce:"dataLayer"
           });
        </script>

        <script type="text/javascript" src="https://api.uxrocket.ru/js/uxrocket.js" authkey="E7TH49MVLG" fetchpriority="high"></script>

        <noscript><div><img src="https://mc.yandex.ru/watch/99316009" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        <title>{{title}}</title>

        <script src="/cdn.tailwindcss.js"></script>

    </head>