 <nav class="#0097a7 cyan darken-1">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center hide-on-med-and-up flow-text">Сервисы</a>
      <a href="/" class="brand-logo center hide-on-small-only">Сервисы Платоникса</a>
      <a href="#" data-target="slide-out" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
       </div>  
  </nav>