<li class="divider"></li>
<li><a href="/">Главная страница<i class="material-icons">exit_to_app</i></a></li>
<li><a href="/print">Отчет<i class="material-icons">local_printshop</i></a></li>
<li><a href="/stat">Статистика<i class="material-icons">info</i></a></li>
<li><a href="/allstat">Общая статистика<i class="material-icons">info</i></a></li>
<li class="divider"></li>