.header-logo {
    background-image: url(https://platoniks.ru/pgm/logo.png) !important;
}

#startupJoinModal {
    background-image: url(https://platoniks.ru/pgm/0.jpg) !important;
    background-size: cover;       /* растянуть по всей области */
    background-position: center;  /* центрировать */
    background-repeat: no-repeat; /* не повторять */
    width: 100vw;                 /* ширина окна */
    height: 100vh;                /* высота окна */
}
